.admin-response-container {
  padding: 30px;
  background: #ebe9e68c;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 1000px;
}

.admin-response-container table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.admin-response-container th, .admin-response-container td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-response-container th {
  background-color: #007bff;
  color: white;
}
.response-download-btn{
  background-color: #1e293b;
}
