.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
  border-bottom: 1px solid #e5e7eb; 
  padding: 0 20px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.menu-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  padding:10px 20px;
  background: transparent;
  border: none;
  font-size: 2px;
  cursor: pointer;
  color: #1e293b; 
  transition: transform 0.2s ease, color 0.2s ease;
}

.menu-icon:hover {
  transform: scale(1.15);
  color: #242f52; 
}

.menu-text {
  padding-left: 70px;
  font-size: 25px;
  font-weight: 800;
  color: #1e293b;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-btn {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.purple-btn {
  background-color: #7c3aed;
}

.purple-btn:hover {
  background-color: #6d28d9;
}

.blue-btn {
  background-color: #2563eb;
}

.blue-btn:hover {
  background-color: #1d4ed8;
}

.green-btn {
  background-color: #16a34a;
}

.green-btn:hover {
  background-color: #15803d;
}

.yellow-btn {
  background-color: #f59e0b;
  position: relative;
}

.yellow-btn:hover {
  background-color: #d97706;
}
.badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* -------- Responsive -------- */
@media (max-width: 768px) {
  .top-navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
    gap: 12px;
  }

  .nav-buttons {
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav-btn {
    font-size: 14px;
    padding: 8px 14px;
  }
}
