
.response-container {
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
  background-color: #e7e5e5 !important;
  border-radius: 14px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.response-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e293b;
  font-size: 24px;
  font-weight: 700; 
}


.supplier-responses-container table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.supplier-responses-container thead {
  background-color: #1e293b;
  color: white;
}

.supplier-responses-container thead th {
  padding: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #1e293b;
}

.supplier-responses-container tbody td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e2eee852;
  transition: 0.2s;
}

td, th {
  word-break: break-word;
}

/* Responsive*/
@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tbody tr {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }

  tbody td {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #1e293b;
  }
}

.response-download-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #0a1e54;
  color: white;
font-weight: 3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.response-download-btn:hover {
  background-color: #546475;

}
